@model BuscarMedico.Models.especialidades

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>especialidades</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.IDEspecialidade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IDEspecialidade)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}