@model IEnumerable<BuscarMedico.Models.especialidades>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p>
    <!--CRIA UM BOTÃO PARA ADICIONAR NOVA ESPECIALIDADE-->
    @Html.ActionLink("Adicionar nova especialidade", "Adicionar", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.IDEspecialidade })<span class="glyphicon glyphicon-pencil"></span> |
                @Html.ActionLink("Excluir", "Excluir", new { id = item.IDEspecialidade }, new { @class = "excluir" })<span class="glyphicon glyphicon-trash"></span>
            </td>
        </tr>
    }

</table>
